*{
    padding: 0;
    margin: 0;
    font-family:  'Rubik', sans-serif;
}

header img{
    margin: 0 auto;
    padding: 50px 0px 30px ;
    width: 300px;
}

header{
    background-image: url(imagenes/background01.jpg);
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid gray;
}

.telefono{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    padding-left: 107px;   
    letter-spacing: 1px;
    background: #2C0F11;
    color: white;
    position: fixed;
    z-index: 999;
}

.menu img{
    width: 100%;
    position: absolute;
}


.lista{
    list-style: none;
    display: flex;
}

.lista a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    color: white;
    margin: 1% 6%;
    padding: 15px;
}

.lista a:hover{
    transition: all 0.5s ease ;
    color: #963f43;
}

.centrado{
    background: #fafafa;
    width: 1080px;
    max-width: 1060px;
    margin: 0 auto;
}

.intro h1{
    color: #2C0F11;
    text-align: center;
    padding: 100px 100px 30px 100px;
}

.intro p{
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 35px;
}

.imagen{
    width: 100%;
    max-width: 1080px;
}

.mySlides{
    margin: 0 auto;
}

.carousel{
    position: relative;
    width: 1060px;
    height: 475px;
}

.container-carousel{
    position: absolute;
    width: 70%;
}

.columna{
    position: relative;
}

.lista01{
    border: 2px solid rgb(161, 161, 161);
    max-width: 1080px;
    max-height: 480px;
    background: rgb(241, 241, 241);
    list-style: none;
    float: right;
    height: 475px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lista01 li{
    text-align: center;
    border-bottom: 15px solid rgb(230, 230, 230);
    color: #b42d34;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 80px;
    padding-top: 80px;
    text-shadow: 7px 3px 2px #d8d8d8;
}

.lista01 li:last-child{
    border: none;
}

.centrado h2{
    font-size: 32px;
    color: #2C0F11;
    text-align: center;
    padding: 100px 100px 30px 100px;
}

.centrado{
    padding-bottom: 100px;
}

.imagenes{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

.imagenes p{
    text-align: center;
}

.imagenes img{
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
    padding: 15px;
}

.imagenes img:hover{
    width: 201px;
    transition: all 0.5s ease ;
    
}

footer{
    background: #1f0a0c;
  }
  
  .container-footer{
    padding: 100px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 13px;
  }
  
  .container-footer p{
    font-family: "Raleway", sans-serif;
  }
  
  .iconos{
    display: flex;
    font-size: 30px;
  }
  
  .iconos a{
    color: white;
    padding: 5px 5px;
  }
  
  .formas{
    display: flex;
    flex-direction: column;
  }
  
  .formas input{
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .formas button{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    padding: 9px;
    background: #258DAD;
    color: white;
  }
  
  .formas button:hover{
    letter-spacing: 1px;
    transition: all 0.25s;
    background: #1e6f88;
  }
  
  .column1{
    width: 33%;
  }
  
  .column2{
    width: 33%;
  }
  
  .column3{
    width: 33%;
  }
  
  .column1 h2{
    padding-bottom: 25px;
  }
  
  .column1 p{
    margin-top: 10px;
  }
  
  .column2 h2{
    text-align: center;
    margin-bottom: 25px;
  }
  
  
  .column3 h2{
    margin-bottom: 25px;
    text-align: end;
  }
  
  .column3 p{
    line-height: 20px;
    text-align: end;
  }
  
  .derechos{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
  }

  .respmenu{
    display: none;
  }

  .columna01{
    display: none;
  }

  .container-minimalist{
    display: none;
  }

  @media only screen and (max-width: 768px) {

  .respmenu{
    margin: 0 auto;
    /* width: 360px;
    max-width: 400px; */
    display: block;
  }

    .menu{
      display: none;
    }

  header img{
  margin: 25px auto 0pc auto;
  padding: 30px;
  width: 250px;
  }
  
  header{
    background-image: url(imagenes/background01.jpg);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* width: 360px;
    max-width: 400px; */
  }

  .respmenu a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #1f0a0c;;
    max-width: 200px;
    background: #2C0F11;;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;  
  }
   
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
   
  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu {
    color: white;
    position: relative; 
    background: #2C0F11;;
    min-height: 48px;
  }
   
  .respmenu nav {
    display: none;
  }
   
  .respmenu input:checked ~ nav {
    display: block;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
  
  .telefono{
    padding: 5px;
    position: fixed;
    text-align: center;
  }

  .centrado{
    background: #fafafa;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .container-carousel{
    display: none;
    }

  .carousel{
    display: none;
    text-align: center;
    margin: 0 auto;
  }

  .columna01{
    display: block;
    margin: 0 auto;
  }


  .lista01{
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .lista01 li{
    text-align: center;
  }

  .centrado h2{
    font-size: 32px;
    color: #2C0F11;
    text-align: center;
}
  
  .container-footer{
    display: none;
  }

  .imagenes img{
    width: 110px;
  }

  .imagenes img:hover{
    width: 111px;
    transition: all 0.5s ease ;
  }

.imagenes{
  display: grid;
  grid-template-columns:1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.container-minimalist{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background: #1F0A0C;
  text-align: center;
}

  .column1{
    margin-top: 20px;
    color: white;
    font-size: 8px;
    font-weight: 700;
  }

  .column2 img{
    text-align: center;
    margin: 0 auto;
    width: 50px;
  }

  .column2{
    color: white;
    font-size: 10px;
  }

  .column3 i{
    font-size: 20px;
    color: white;
    padding: 5px;
  }

  .column3{
    margin-top: 15px;
  }

  .derechos{
    display: none;
  }

}